<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пост {{ post.title }}</title>


</head>
<body>
<h3>
<form action="http://127.0.0.1:8000/line">
    <button>Назад</button>
</form>
</h3>
<h3>{{ post.title }}</h3>
<p>{{ post.date_posted }}</p>
<p>{{ post.description }}</p>
<p><img src="{{ post.photo.url }}" height="300" width="400"/></p>

{% if user.is_authenticated %}
<form action="http://127.0.0.1:8000/line/{{ post.pk }}/{{ user.pk }}/like/">
    <button class="red">Красиво</button>
</form>
{% else %}
<form action="http://127.0.0.1:8000/reg/signup/">
    <button>Красиво</button>
</form>
{% endif %}

</body>
</html>